.root {
    COLOR_TOOLBAR: black;
}

.tool-bar {
    -fx-background-color: COLOR_TOOLBAR;
}

.tool-bar-element {
    -fx-background-color: COLOR_TOOLBAR;
    -fx-font-family: Lucida sans;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.titled-pane > *.title {
    -fx-padding: 20px;
}

.transaction-card .description-box{
    -fx-background-color: white;
    -fx-padding: 5px;
}

.transaction-card .title-bar{
    -fx-padding: 5px;
    -fx-background-color: #4682B4;
}

.overview-pane {
}


