.root {
    COLOR_TOOLBAR: black;
    COLOR_MENU: #409bae;
}

.tool-bar {
    -fx-background-color: COLOR_TOOLBAR;
}

.tool-bar-element {
    -fx-background-color: COLOR_TOOLBAR;
    -fx-font-family: Lucida sans;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.titled-pane > *.title {
    -fx-padding: 20px;
}

.overview-pane {
}

.tree-view, .tree-cell {
    -fx-background-color: COLOR_MENU;
    -fx-font-family: Lucida sans;
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.tree-cell{
    -fx-padding: 0.25em 0em 0.25em 0em;
}

.tree-cell:selected{
    -fx-font-weight: bold;
}


